@white: #ffffff;
@grey44: #444444;
@main-green: #8dc63f;
@grey9c0: #99CC00;
@red: #f42421;
@bluedd: #dddddd;
@blackcc: #cccccc;
@brown-light: #ffc120;
@brown-light-f9: #f9cd43;
@brown-light-f6: #f6ac00;
@turquoise-flat: #f4faec;
@greyf6: #f6f6f6;
@grey88: #888888;
@greyd3: #d3d3d3;
@grey4a: #4a4a4a;
@grey9b: #9b9b9b;
@greyf7: #f5f7f8;
@greyf2: #f2f2f2;
