@font-main: "PT Sans", sans-serif;
@font-icons: "FontAwesome";

@root-font-size: 10px;
@root-tablet-font-size: 10px;
@root-mobile-font-size: 9px;

@font-size-small: 1.4rem;
@font-size-normal: 1.6rem;
@font-size-middle: 1.8rem;
@font-size-big: 2.4rem;
@font-size-very-big: 3rem;