html,
body,
.app {
  font-size: @root-font-size;
}

body {
	font-family: @font-main;
	color: @grey44;

	&.-overflow {
	  overflow: hidden;
	}
}

* {
	outline: none !important;
}

p, label {
	margin: 0;
}

input,
textarea {
  cursor: text !important;
}

.fa {
  cursor: pointer;
}

.modal {
	display: flex !important;

	> .modal-dialog {
		margin: auto !important;
		height: inherit !important;

		> .modal-content {
			border-radius: 0 !important;
		}
	}

	&.-form {

		.modal-content {
			padding: 15px 40px;
			background-color: @greyf7;
			width: 460px;

			> .title {
				line-height: 29px;
		    font-size: @font-size-big;
		    font-weight: bold;
		    margin: 0 0 15px;
			}
		}
	}
}

.modal-backdrop.in {
	opacity: .75;
}

@media (max-width: @tablet-width) and (min-width: (@mobile-width + 1)) {

	html,
	body,
	.app {
	  font-size: @root-tablet-font-size;
	}

	.container {
		max-width: 100%;
	}
}

@media (max-width: @mobile-width) {

	html,
	body,
	.app {
	  font-size: @root-mobile-font-size;
	}

	.container {
		max-width: 100%;
	}

	.modal {

		> .modal-dialog {
			margin: 0 !important;
			height: inherit !important;
			max-width: 100%;
			width: 100%;

			> .modal-content {
				border-radius: 0 !important;
				max-width: 100%;
				width: 100%;
				border: none;
				padding: 15px;
				min-height: 100vh;
			}
		}
	}
}