.delegate-scrollarea {
	background-color: @greyf6;

	.user-list {
		padding: 10px 20px 0;

		> .user-block {
			height: 100px;
			background-color: @white;
			display: flex;
			flex-direction: row;
			align-items: center;
			margin: 0 0 10px;
			padding: 10px;
			cursor: pointer;

			> img {
				width: 80px;
				margin: 0 10px 0 0;
			}

			> .name {
				flex: 1;
			}

			> .email {
				flex: 1;
			}
		}
	}
}