.custom-button {
  width: 200px;
  height: 40px;
  font-family: @font-main;
  font-size: @font-size-big;
  font-weight: bold;
  color: @white;
  border: none;
  letter-spacing: 0;
  line-height: 40px;
  text-align: center;
  padding: 0;
  opacity: 1;
  background-image: linear-gradient(to bottom, @brown-light-f9 0%, @brown-light-f6 100%);
  background-repeat: repeat-x;
  outline: none !important;

  &:hover {
    background-image: none;
    background-color: @brown-light;
    color: @white;
    opacity: 1;
  }
}