.inline-textarea-edit {
	display: flex;
  flex-direction: row;

  > .static-description {
  	order: 2;
  	white-space: pre-wrap;
  }

  > span.editable-description {
	  font-size: 0.0001em;
	  order: 3;

	  &:after {
	  	position: absolute;
	  	margin-left: 5px;
	  	content: "\f040";
	  	font-size: @font-size-middle;
	  	font-family: @font-icons;
	  }

	  &:hover {

	  	&:after {
	  		color: @main-green;
	  		cursor: pointer;
	  	}
  	}
	}

	> textarea.editable-description + .static-description {
	  display: none;
	}

	> textarea.editable-description {
		flex: 1;
	}
}