.inline-input-edit {
	display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-end;

  &.-striked {
    > .editable-container {
      > .static-title {
        text-decoration: line-through;
      }
    }
  }
  > .editable-container {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: baseline;
    flex-basis: 90%;

    > .static-title {
      order: 2;
    }

    > span.editable-title {
      font-size: 0.0001em;
      order: 3;

      /*&:after {
            position: absolute;
            margin-left: 5px;
            content: "\f040";
            font-size: @font-size-middle;
            font-family: @font-icons;
        }*/
    }

    > input.editable-title + .static-title {
      display: none;
    }

    > input.editable-title {
      flex: 1;
    }
  }

  > .control-container {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: baseline;
    flex-basis: 10%;
  }
}
