.form-input {
	position: relative;
	display: flex;
	flex-direction: column;
	margin: 0 0 25px;

	> label {
		font-size: @font-size-small;
		font-weight: bold;
		line-height: 17px;
		margin-bottom: 3px;
	}

	> input {
		width: 100%;
		height: 40px;
		border-radius: 0;
		padding: 6px 12px;
		background-color: @white;
		background-image: none;
		border: 1px solid @blackcc;
		border-color: @bluedd;
		-webkit-appearance: none;
		font-size: @font-size-normal;

		&:hover {
			border-color: @grey88;
		}
	}

	> .error {
		position: absolute;
		color: @red;
		font-size: @font-size-small;
		line-height: 20px;
		bottom: -20px;
	}

  &.-focus {

  	> input {
	  	border-color: @main-green;
	  	box-shadow: none;
  	}
  }

  &.-error {

  	> input {
  		border-color: @red;
  	}
  }

  &.-valid {

  	> input {
  		border-color: @main-green;
  	}
  }
}