.form-select {
	position: relative;
	display: flex;
	flex-direction: column;
	margin: 0 0 25px;

	> label {
		font-size: @font-size-small;
    font-weight: bold;
    line-height: 17px;
    margin-bottom: 3px;
	}

	> .Select {
		outline: none !important;

		> .Select-control {
			height: 40px;
			border-radius: 0;
			box-shadow: none;
			border-color: @bluedd !important;
			font-size: @font-size-normal;

			> .Select-clear-zone {

				&:hover {
					color: @main-green;
				}
			}
		}

		> .Select-menu-outer {

			> .Select-menu {
				font-size: @font-size-normal;

				> .Select-option {
					height: 40px;

					&.is-focused,
					&.is-selected,
					&:hover {
	          background-color: @turquoise-flat;
	        }
				}
			}
		}

		&:hover {

			> .Select-control {
				border-color: @grey88 !important;
			}
		}

		&.is-open {

			> .Select-control {
				border-color: @main-green !important;

				> .Select-arrow-zone {

					> .Select-arrow {
						border-top-color: @main-green;
					}
				}
			}
		}
	}

	> .error {
		position: absolute;
		color: @red;
		font-size: @font-size-small;
		line-height: 20px;
		bottom: -20px;
	}

	&.-error {

		> .Select {

			> .Select-control {
				border-color: @red !important;
			}
		}
	}
}