.mytasks-list {
  flex:  2;
  padding: 0 20px;

  > .title {
    font-size: @font-size-very-big;
    font-weight: bold;
    margin: 20px 0 10px 0;
  }

  > .add-task {

  	.form-input {
	  	margin: 0 0 20px;
	  }
  }

  > .url {
  	margin-bottom: 5px;
  }

  > .description {
  	margin-bottom: 10px;
  	white-space: pre-wrap;
  }

  > .accordion-view {
    margin-bottom: 20px;
  }
}



@media (max-width: @mobile-width) {

  .mytasks-list {
    padding: 0 10px;
  }
}
