.accordion-view {
  border: 1px solid @bluedd;
  display: flex;
  flex-direction: column;

  > .title {
    height: 50px;
    background-color: @greyf6;
    line-height: 50px;
    padding: 0 20px;
    font-size: @font-size-big;
    font-weight: bold;
    color: @grey44;

    > .fa {
      position: relative;
      margin-left: 5px;
      bottom: -2px;
      color: @main-green;
    }
  }

  .panel-group {

    .panel-body {
      padding: 10px 25px 10px 10px !important;
      min-height: 60px;
      background-color: @greyd3;
      font-size: @font-size-normal;

      hr {
        margin: 5px 0;
      }

      > .panel-body-container {
        > .inline-input-edit {
          flex-direction: row-reverse;

          > .editable-container {
            flex-basis: 95%;
            align-items: flex-end;

            > .editable-title {
              /*&:after {
                content: "\f067";
              }*/
            }
          }

          > .control-container {
            justify-content: flex-start;
            align-items: flex-end;
            flex-basis: 5%;
          }
        }
      }
    }
  }

  > .empty {
    padding: 5px 20px;
    font-size: @font-size-middle;
    color: @grey9c0;
    font-style: italic;
  }
}
