.attach-zone {
	cursor: pointer;

	> .fa {
		display: none;
		font-size: @font-size-big;

		&:hover {
			color: @main-green;
		}
	}

	> .upload-image {
		display: none;
		width: 100px;
    height: 100px;
    border: 2px dashed @grey44;
    border-radius: 5px;
    text-align: center;
    padding-top: 20px;
    margin: 0 0 10px;

    &:hover {
    	border-color: @main-green;
    }
	}

	> .images-list {

		> .image-item {
			margin: 0 10px 10px 0;
		}
	}

	&.-icon {

		> .fa {
			display: inline-block;
		}
	}

	&.-dropzone {

		> .upload-image {
			display: block;
		}
	}
}

.images-list {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;	
}

.image-item {
	position: relative;

	> .fa {
		position: absolute;
		top: 0;
		right: 5px;
		color: @main-green;
		text-shadow: 2px 2px @grey44;
	}

	> img {
		max-height: 100px;
	}
}