.key-value {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;

	> .key {
		font-size: @font-size-normal;
		margin: 0 5px 0 0;
	}

	> .value {
		font-size: @font-size-normal;
	}

	&.-vertical {
		flex-direction: column;
	}

	&.-floatLeft {
		display: block;

		> .key {
			float: left;
		}
	}

	&.-bold {

		> .key,
		> .value {
			font-weight: bold;
		}
	}

	&.-coloredValue {

		> .value {
			color: @main-green;

			* {
				color: @main-green;
			}
		}
	}

	&.-big {

		> .key,
		> .value {
			font-size: @font-size-big;
			line-height: 30px;
		}
	}

	&.-boldKey {

		> .key {
			font-weight: bold;
		}
	}

	&.-center {
		text-align: center;
	}
}