.task-list {

  .inline-textarea-edit {
    width: 100%;
    min-height: 20px;
  }

  .inline-input-edit {
    margin-bottom: 5px;
    min-height: 20px;
    justify-content: space-between;
    align-items: flex-end;

    > .editable-container{
      > input {
        width: 100%;
        height: 40px;
        border-radius: 0;
        padding: 6px 12px;
        background-color: @white;
        background-image: none;
        border: 1px solid @blackcc;
        border-color: @bluedd;
      }

      > .editable-title {
        cursor: pointer;

        &:hover {

          /*&:after {
            color: @main-green;
          }*/
        }
      }
    }
  }
}
