#tooltip {
	opacity: 1;

  > .tooltip-inner {
    cursor: pointer;
    border-radius: 0;
    max-width: 300px;
    padding: 10px;
    background-color: #fff;
    border: 1px solid #ddd;
    color: #666;
    line-height: 18px;
    font-size: 14px;
    font-family: PT Sans, sans-serif;
    box-shadow: 0 0 15px rgba(0, 0, 0, .15);
  }
}
