.error-view {
  display: none;
  background-color: transparent;
  padding: 10px 10px 0;
  font-size: @font-size-normal;

	&.-show {
  	display: block;
  }
  >.error-item {
    position: relative;

    >.fa {
      position: absolute;
      top: 10px;
      right: 10px;
    }
  }
}
