.loader-view {
  display: none;
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  justify-content: center;
  align-items: center;
  z-index: @z-index-loader;
  background-color: fade(@white, 60);
  font-size: @font-size-big;

  > .fa {
  	color: @main-green;
  }

	&.-show {
  	display: flex;
  }
}