.close-popup {
	width: 55px;
  padding: 9px 0 2px;
  text-align: center;
  color: @grey4a;
  background-color: @grey9b;
  display: flex;
  flex-direction: column;
  align-items: center;
  position: absolute;
  right: -55px;
  top: 0;
  opacity: .89;
  cursor: pointer;

  > .x {
  	font-size: @font-size-big;
  	line-height: 24px;
  	font-weight: bold;
  }

  > .text {
  	margin-top: 4px;
    font-size: 14px;
    line-height: 14px;
  }

  &:hover {
  	opacity: 1;
  }
}

@media (max-width: @mobile-width) {

  .close-popup {
    background: none;
    right: 0;

    > .text {
      display: none;
    }
  }
}