.select-user {

  .modal-content {
    padding: 15px 0;
    width: 460px;

    > .title {
      line-height: 29px;
      font-size: @font-size-big;
      font-weight: bold;
      margin: 0 40px 10px;
    }

    > .description {
      margin: 0 40px 15px;
      font-size: @font-size-middle;
      line-height: 18px;
    }

    > .userlist-scrollarea {
      max-height: 400px;
    }
  }
}