.login-view {
  width: 100%;
  background-image: url('/assets/images/login-background-1910x1220.jpeg');
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  position: fixed;
  top: @navbar-height;
  bottom: 0;
  left: 0;
  right: 0;
  overflow: auto;
}

.login-overlay {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: rgba(0, 0, 0, .55);
}

.login-block {
  width: 450px;
  padding: 20px 40px;
  background-color: @white;

  > .title {
    font-size: @font-size-very-big;
    font-weight: bold;
    margin: 0 0 10px 0;

    &:before {
      content: "\F007";
      font-size: @font-size-big;
      font-family: @font-icons;
      padding-right: 15px;
    }
  }
}

.login-form {

  > .custom-button {
    margin-bottom: 20px;
  }
}

@media (max-width: @mobile-width) {

  .login-overlay {
    padding: 10px;
  }

  .login-block {
    width: 100%;
    padding: 20px;
    margin: 0;
  }
}
