.task-item {
  position: relative;
  background-color: @white;
  border-top: 1px solid @bluedd;
  line-height: 20px;
  padding: 10px 20px 10px 20px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  font-size: @font-size-middle;
  cursor: pointer;

	> .task-textblock {
		flex: 1;
		padding: 0 10px;
	}

	> .fa {
		font-size: @font-size-middle;

		&:hover {
			color: @main-green;
		}
	}

	> .fa-user-times,
	> .fa-user-plus {
		margin: 0 5px;
	}

	> .fa-times,
	> .fa-user-times,
	> .fa-user-plus,
	> .fa-pencil {
		visibility: hidden;
	}

	/*&:after {
		position: absolute;
		content: "\f0d7";
		font-family: @font-icons;
		font-size: @font-size-big;
		margin-left: 5px;
		margin-top: -10px;
		color: @main-green;
		top: 50%;
		right: 25px;
		visibility: hidden;
	}*/

	&.-description {

		&:after {
			visibility: visible;
		}
	}

	&.-open {

		> .task-textblock {

			> .inline-input-edit {

				> .editable-title {

					/*&:after {
						visibility: visible;
					}*/
				}
			}
		}

		> .fa-times,
		> .fa-user-times,
		> .fa-user-plus,
		> .fa-pencil {
			visibility: visible;
		}
	}

	&.-hover {
		background-color: @red;
		opacity: 0.4;
	}
}

.task-textblock {
	display: flex;
	flex-direction: column;

	> .inline-input-edit {

		> .editable-title {

			&:hover {

				/*&:after {
					color: @main-green;
				}*/
			}

			&:after {
				visibility: hidden;
				margin-left: -10px;
				margin-top: -10px;
				top: 50%;
			}
		}

		> .static-title {
			flex: 1;
			padding-right: 20px;
		}
	}
}

.task-item-drop-target {
	width: 100%;
	height: 5px;
	background-color: @white;

	&.-hover {
		height: 30px;
		border: 2px dashed @red;
	}
}

@media (min-width: (@tablet-width + 1)) {

	.task-item {

		&:hover {

			> .task-textblock {

				.inline-input-edit {

					> .editable-title {

						/*&:after {
							visibility: visible;
						}*/
					}
				}
			}

			> .fa-times,
			> .fa-user-times,
			> .fa-user-plus,
			> .fa-pencil {
				visibility: visible;
			}
		}
	}
}

@media (max-width: @tablet-width) and (min-width: (@mobile-width + 1)) {

	.task-item {

		&.-subtask {

      > .fa-times,
      > .fa-user-times,
      > .fa-user-plus,
			> .fa-pencil {
        visibility: visible;
      }

        > .task-textblock {

        > .inline-input-edit {

          > .editable-title {

            /*&:after {
              visibility: visible;
            }*/
          }
        }
      }
		}
	}
}

@media (max-width: @mobile-width) {

	.task-item {
		font-size: @font-size-normal;
		padding: 10px 20px 10px 10px;

		> .task-textblock {
			padding: 0 10px;
		}

		&.-open {

			&:after {
				content: none;
			}
		}

		&.-subtask {

      > .fa-times,
      > .fa-user-times,
      > .fa-user-plus,
			> .fa-pencil {
        visibility: visible;
      }

        > .task-textblock {

        > .inline-input-edit {

          > .editable-title {

            /*&:after {
              visibility: visible;
            }*/
          }
        }
      }
    }
	}
}
