.project-item {
	position: relative;
	display: block;
  border-top: 1px solid @bluedd;
  padding: 10px 50px 10px 20px;
  line-height: 20px;
  font-weight: bold;
  font-size: @font-size-normal;
  color: @main-green;
  cursor: pointer;

  &:after {
  	content: "\f105";
  	font-family: @font-icons;
    font-size: @font-size-big;
    font-weight: bold;
    color: @main-green;
    opacity: 0.8;
    position: absolute;
    right: 15px;
    top: 50%;
    margin-top: -10px;
  }

  > .fa {
    width: 30px;
    height: 40px;
    position: absolute;
    line-height: 40px;
  	display: none;
  	margin: -10px 0 0 0;
  	color: @grey44;
  	opacity: .8;
    text-align: center;

  	&:hover {
  		opacity: 1;
  	}
  }

  &:focus {
  	color: @main-green;
  	text-decoration: none;
  }

  &:hover {
  	background-color: @turquoise-flat;
  	text-decoration: none;
  	color: @main-green;

  	> .fa {
  		display: inline-block;
  	}

  	&:after {
  		opacity: 1;
  	}
  }

  &.-selected {
		background-color: @turquoise-flat;
  	text-decoration: none;
  	color: @main-green;

  	&:after {
  		opacity: 1;
  	}  	
  }

  &.-completed {
    background-color: @main-green;
    color: @white;

    &:after {
      opacity: 1;
      color: @white;
    }
  }

  &.-hold {
    background-color: #D3D3D3;
  }

  &.-droped {
    background-color: #808080;
  }
}

@media (max-width: @tablet-width) and (min-width: (@mobile-width + 1)) {

  .project-item {
    text-decoration: none;
    color: @main-green;

    > .fa {
      display: inline-block;
    }

    &:after {
      opacity: 1;
    }
  }
}

@media (max-width: @mobile-width) {

  .project-item {
    text-decoration: none;
    color: @main-green;

    > .fa {
      display: inline-block;
    }

    &:after {
      opacity: 1;
    }
  }
}