.project-list {
  border: 1px solid @bluedd;
  box-sizing: border-box;
  margin-bottom: 10px;

  > .title {
  	font-size: @font-size-big;
    font-weight: bold;
    margin: 0;
    padding: 10px 20px 10px;

	  > .fa {
	    margin-left: 10px;
	    position: relative;
	    bottom: -2px;
	    opacity: .8;
	    color: @main-green;

	    &:hover {
	    	opacity: 1;
	    }
	  }
  }
}