.page-header {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  background-color: @main-green;
  height: @navbar-height;
  z-index: @z-index-navbar;

  > .container {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    height: inherit;

    &:after {
      content: none;
    }

    > .item {
      min-width: @navbar-height;
      height: inherit;
      line-height: @navbar-height;
      padding: 0 12px;
      color: @white;
      font-weight: bold;
      font-size: @font-size-middle;
      cursor: pointer;

      &:first-child {
        flex: 1;
      }

      &:hover {
        background-color: rgba(0, 0, 0, 0.1);
      }

      &.-title {
        cursor: text;
        white-space: nowrap;
        text-overflow: ellipsis;
        overflow: hidden;

        &:before {
          content: "\f007";
          font-weight: normal;
          font-size: @font-size-middle;
          font-family: @font-icons;
          padding-right: 6px;
        }

        &:hover {
          background-color: transparent;
        }
      }

      &.-tasks {

        &:before {
          content: "\f08d";
          font-weight: normal;
          font-size: @font-size-middle;
          font-family: @font-icons;
          padding-right: 6px;
        }
      }

      &.-projects {

        &:before {
          content: "\f0c0";
          font-weight: normal;
          font-size: @font-size-middle;
          font-family: @font-icons;
          padding-right: 6px;
        }
      }

      &.-secret {

        &:before {
          content: "\f21b";
          font-weight: normal;
          font-size: @font-size-middle;
          font-family: @font-icons;
          padding-right: 6px;
        }
      }

      &.-lock {

        &:before {
          content: "\f023";
          font-weight: normal;
          font-size: @font-size-middle;
          font-family: @font-icons;
          padding-right: 6px;
        }
      }

      &.-unlock {

        &:before {
          content: "\f13e";
          font-weight: normal;
          font-size: @font-size-middle;
          font-family: @font-icons;
          padding-right: 6px;
        }
      }

      &.-selected {
        background-color: rgba(0, 0, 0, 0.1);
      }
    }
  }
}

@media (max-width: @mobile-width) {

  .page-header {

    > .container {

      > .item:not(:first-child) {
        padding: 0;
        width: 60px;
        text-align: center;

        &:before {
          font-size: @font-size-big;
          padding: 0;
        }

        > span {
          display: none;
        }
      }
    }
  }
}
