.tabs-header {
  border-bottom: 2px solid @main-green;
  min-height: 60px;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;

  > .container {
    padding: 0;
    display: flex;
    flex-direction: row;
    width: 100%;

    > .title {
      white-space: nowrap;
      font-size: @font-size-big;
      font-weight: bold;
      padding-left: 33px;
      position: relative;
      flex: 1;

      &:before {
        content: "\f005";
        color: @brown-light;
        font-family: @font-icons;
        font-weight: normal;
        font-size: @font-size-big;
        position: absolute;
        top: 0;
        left: 0;
      }
    }

    > .tab {
      min-width: 150px;
      height: 40px;
      display: flex;
      justify-content: center;
      align-items: center;
      font-size: @font-size-normal;
      font-weight: bold;
      padding: 9px;
      text-align: center;
      border: 1px solid @bluedd;
      background-color: @greyf2;
      color: @grey88;
      border-bottom: none;
      margin-left: 4px;
      text-decoration: none !important;

      &:hover {
        color: @main-green;
        background-color: @turquoise-flat;
        border-color: @main-green;
      }

      &.-selected {
        border: 1px solid @main-green;
        background-color: @main-green;
        color: @white;
        cursor: default;
      }
    }
  }
}

@media (max-width: @tablet-width) {

  .tabs-header {
    padding-top: 10px;
    border-bottom: none;

    > .container {
      flex-direction: column;

      > .title {
        margin: 0 5px 5px;
        order: 1;
      }

      > .tab:not(.-selected) {
        order: 3;
        transition: all .3s linear;
        height: 0;
        padding: 0;
        opacity: 0;
        border-bottom: 1px solid @main-green;
        color: @main-green;

        &.-show {
          height: 40px;
          padding: 9px;
          opacity: 1;
        }
      }

      > .tab {
        border: none;
        margin: 0;

        &.-selected {
          order: 2;
          cursor: pointer;

          &:after {
            content: "\f0d8";
            font-size: @font-size-middle;
            font-family: @font-icons;
            padding-left: 6px;
            transition: all .3s linear;
            padding-top: 2px; 
          }

          &:not(.-show) {
            color: @main-green;
            background-color: @greyf6;
            border: 1px solid @bluedd;
            cursor: pointer;

            &:after {
              content: "\f0d7";
            }
          }
        }
      }
    }
  }
}