.project-view {
  flex:  1;
  padding:  0 20px 20px;

  > .title {
  	font-size: @font-size-very-big;
    font-weight: bold;
    margin: 0 0 10px 0;

    > .fa {
    	position: relative;
    	bottom: -1px;
    	margin-left: 10px;
    	color: @main-green;
    	font-size: @font-size-big;
    	opacity: .8;

    	&:hover {
    		opacity: 1;
    	}
    }
  }
}