.to-do {
  display: flex;
  flex-direction: row;
  height: 100%;
  padding: 20px 0 0;

  &:after {
    content: none;
  }
}

@media (max-width: @tablet-width) and (min-width: (@mobile-width + 1)) {
  .to-do {

    > .todo-list {
      padding-top: 40px;
    }
  }

  .back-view {
    position: fixed;
    top: @navbar-height;
    left: 0;
    right: 0;
    padding-left: 20px;
    height: 40px;
    display: flex;
    flex-direction: row;
    align-items: center;
    font-size: @font-size-big;
    background-color: @main-green;
    color: @white;
    border-top: 2px solid @white;
    z-index: 1;
    font-size: @font-size-middle;

    > .title {
      margin-left: 10px;
      font-weight: bold;
    }

    &:hover {
      text-decoration: none;
      color: @white;
    }
  }
}

@media (max-width: @mobile-width) {
	.to-do {

	  > .todo-list {
	  	padding-top: 40px;
	  }
	}

	.back-view {
  	position: fixed;
  	top: @navbar-height;
  	left: 0;
  	right: 0;
  	padding-left: 20px;
  	height: 40px;
  	display: flex;
  	flex-direction: row;
  	align-items: center;
  	font-size: @font-size-big;
  	background-color: @main-green;
  	color: @white;
  	border-top: 2px solid @white;
  	z-index: 1;
    font-size: @font-size-middle;

  	> .title {
  		margin-left: 10px;
  		font-weight: bold;
  	}

  	&:hover {
  		text-decoration: none;
      color: @white;
  	}
  }
}