.team-member {
  position: relative;
  background-color: @white;
  border-top: 1px solid @bluedd;
  line-height: 20px;
  padding: 10px 10px 10px 20px;
  display: flex;
  flex-direction: row;
  align-items: center;
  width: 100%;
  font-size: @font-size-middle;

  > .title {
    flex: 1;
  }
}

@media (min-width: (@tablet-width + 1)) {
  
  .team-member {

    > .fa {
      display: none;
    }
    
    &:hover {
      
      > .fa {
        display: block;

        &:hover {
          color: @main-green;
        }
      }
    }
  }
}