.team-view {
  position: relative;
  background-color: @white;
  border-top: 1px solid @bluedd;
  line-height: 20px;
  padding: 10px 45px 10px 20px;
  display: flex;
  flex-direction: row;
  align-items: center;
  width: 100%;
  font-size: @font-size-middle;
  cursor: pointer;

  > .fa {
    margin-left: 5px;
    display: none;
  }

  > .title {
    flex: 1;
  }

  &:after {
    position: absolute;
    content: "\f0d7";
    font-family: @font-icons;
    font-size: @font-size-big;
    margin-left: 5px;
    margin-top: -10px;
    color: @main-green;
    top: 50%;
    right: 25px;
    visibility: hidden;
  }

  &.-content {

    &:after {
      visibility: visible;
    }
  }
}

@media (min-width: (@tablet-width + 1)) {

  .team-view {

    &:hover {

      > .fa {
        display: block;

        &:hover {
          color: @main-green;
        }
      }
    }
  }
}

@media (max-width: @tablet-width) and (min-width: (@mobile-width + 1)) {

  .team-view {

    &.-open {

      > .fa {
        display: block;
      }
    }
  }
}

@media (max-width: @mobile-width) {

  .team-view {

    &.-open {

      > .fa {
        display: block;
      }
    }
  }
}