.adduser-form {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;

  > .form-input {
    width: 100%;
  }

  > .custom-button {
    width: 100%;
    height: 50px;
    line-height: 50px;
    margin: 0 0 20px;
  }

  > .green-link {
    width: 100%;
    font-size: @font-size-big;
    line-height: 24px;
    color: @main-green;
    font-weight: bold;
    margin: 0 0 20px;
    text-align: center;
    text-decoration: underline;
    opacity: .9;
    cursor: pointer;

    &:hover {
      opacity: 1;
    }
  }
}