.teams-view {
  padding: 20px 0;
}

@media (max-width: @tablet-width) and (min-width: (@mobile-width + 1)) {

  .teams-view {
    padding: 20px;
  }
}

@media (max-width: @mobile-width) {

  .teams-view {
    padding: 20px;
  }
}